body {
    margin: 0;
    padding: 0;
    background-color: purple;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius:50%;
    background-color: white;
}